.wc-block-components-search-input {
	margin-top: em($gap-large);

	.popover {
		position: relative;
		z-index: 50;
		display: flex;
		max-height: min(var(--popover-available-height, 300px), 300px);
		flex-direction: column;
		overflow: auto;
		overscroll-behavior: contain;
		margin-top: 0 !important;
		border-width: 1px;
		border-style: solid;
		border-color: hsl(204 20% 88%);
		background-color: hsl(204 20% 100%);
		padding: 0.5rem;
		color: hsl(204 10% 10%);
	}


	.combobox-item {
		display: flex;
		cursor: default;
		scroll-margin: 0.5rem;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem;
		outline: none !important;
	}

	.combobox-item:hover {
		background-color: hsl(204 100% 80% / 0.4);
	}

	.combobox-item[data-active-item] {
		background-color: hsl(204 100% 40%);
		color: hsl(204 20% 100%) !important;
	}
}
